<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Aquaheli site
  <a href="http://aquaheli.com/help">Aquaheli help page</a>.
  To get help on flight related issues go to
  <a href="http://aquaheli.com/faq">Aquaheli FAQ's</a>.
</p>